.chat{
    height: 50vh;
    overflow: auto;
}

.agentMessage{
    background: #cccccc;
    text-align: left;
    padding: 1rem;
    margin-bottom: .5rem;
    margin-right: 1rem;
}

.userMessage{
    text-align: right;
    padding: 1rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
}

